<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
        <div id="app">
            <p v-for="(item,index) in emplist" :key="item.id">
                {{item.id}}
                {{item.name}}
                {{item.words}}
            </p>
            <input type="text" v-model="searchform.name" placeholder="请输入姓名">
            <input type="text" v-model="searchform.words" placeholder="请输入名言">
        </div>



    <script type="module">
        import {createApp} from 'https://unpkg.com/vue@3/dist/vue.esm-browser.js';
        createApp({
            data(){
                return{
                emplist:[
                    {"id":1,name:"萧炎","words":"三十年河东，三十年河西，莫欺少年穷"},
                    {"id":2,name:"悲观小子","words":"莫欺少年穷，莫欺中年穷，莫欺老年穷，死者为大"}
                ],
                searchform:{
                    name:'',
                    words:''
                }
                }

              

        }}).mount("#app")

    </script>
</body>
</html>